
<section class="proyectos" id="proyectos">
    <h2 class="proyectos-title">Proyectos Recientes</h2>
    <div class="proyectos-container">
        <div class="proyecto-container proyecto-card">
        <img
            src="assets/images/haskell.png"
            alt="haskellLogo"
            loading="lazy"
            class="proyecto-pic"
        />
        <h3 class="proyecto-title">Algebra 1 | Haskell</h3>
        <p class="proyecto-details">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
            ratione vel inventore labore commodi modi quos culpa aut saepe!
            Alias!
        </p>
        <a href="#" target="_blank" class="proyecto-link">Check it Out</a>
        </div>
        <div class="proyecto-container proyecto-card">
        <img
            src="assets/images/number-2.png"
            alt="netflic-clone"
            loading="lazy"
            class="proyecto-pic"
        />
        <h3 class="proyecto-title">Proyecto 2</h3>
        <p class="proyecto-details">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
            ratione vel inventore labore commodi modi quos culpa aut saepe!
            Alias!
        </p>
        <a href="#" target="_blank" class="proyecto-link">Check it Out</a>
        </div>
        <div class="proyecto-container proyecto-card">
        <img
            src="assets/images/number-3.png"
            alt="greeny-earth"
            loading="lazy"
            class="proyecto-pic"
        />
        <h3 class="proyecto-title">Proyecto 3</h3>
        <p class="proyecto-details">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
            ratione vel inventore labore commodi modi quos culpa aut saepe!
            Alias!
        </p>
        <a href="#" target="_blank" class="proyecto-link">Check it Out</a>
        </div>
    </div>
    </section>
