<nav>
    <h1>Facundo Lerena</h1>
    <ul class="navigation">
      <li><a href="#about" class="nav-link">Sobre Mi</a></li>
      <li><a href="#curriculum" class="nav-link">Portfolio</a></li>
      <li><a href="#proyectos" class="nav-link">Proyectos</a></li>
      <li><a href="#contact" class="nav-link">Contacto</a></li>
      <li><a href="https://blog.faculerena.com.ar" class="nav-link">Blog</a></li>
    </ul>
    <button class="burger-menu" id="burger-menu">
  
      <button ion-button class="bars" name="menu-outline"></button>
    </button>
</nav>