nav {
  position: static;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20px;
}

a:hover {
  color: var(--secondary-color);
}

section {
  max-width: 1100px;
  margin: auto;
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-shadow);
  border-bottom: 2px solid var(--secondary-shadow);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

h2 {
    font-size: 40px;
  }


  @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

h1 {
  font-family: var(--font-family);
  font-size: 65px;
}










