
    <!-- Contact section -->
   <section class="contacto" id="contacto">
      <h2>Contactate conmigo</h2>
      <div class="contacto-form-container">
        <div class="contacto-form">
          <form action="https://formspree.io/f/mgeqlldj" method="POST">
            <div class="form-control">
              <label for="name">Nombre</label>
              <input
                type="text"
                id="name"
                name="sender-name"
                placeholder="Tu nombre"
                class="input-field"
                required
              />
            </div>
            <div class="form-control">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="sender-email"
                placeholder="Tu Email"
                class="input-field"
                required
              />
            </div>
            <div class="form-control">
              <label for="message">Mensaje</label>
              <textarea
                id="message"
                cols="75"
                rows="10"
                placeholder="Hola! decime que necesitas..."
                name="message"
                class="input-field"
                required
              ></textarea>
            </div>
            <input
              type="submit"
              value="Submit"
              id="submit-btn"
              class="submit-btn"
            />
          </form>
        </div>
      </div>
    </section>
