@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --font-family: "Roboto Mono", monospace;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  --bg-color: #ffffff;
  --text-color: #121212;
  --primary-color: #01329c;
  --secondary-color: #533483;
  --primary-shadow: #001c58;
  --secondary-shadow: #001c58;
  scroll-behavior: smooth;
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-color: #121212;
    --text-color: #c6c6c6;
    --primary-color: #e0603e;
    --secondary-color: #533483;
    --primary-shadow: #ffffff;
    --secondary-shadow: #a03a1e;
    scroll-behavior: smooth;
    background-color: var(--bg-color);
  }
}


body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  height: 100vh;
  width: 100vw;
  overflow: auto;
  color: var(--text-color);
}

/*#region*/ /*HERO*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  background-color: var(--bg-color);
}

.hero img {
  height: 37.5rem;
  width: 37.5rem;
}

.me {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.me h1 {
  margin-bottom: var(--bottom-margin);
}

.me p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.bio-title {
  text-align: center;
}

.bio-text {
  text-align: center;
}

/*#endregion*/

/*#region*/ /*About Me*/
.mas-info {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
  text-align: center;
}

.mas-info h2 {
  margin-bottom: var(--bottom-margin);
}

.mas-info p {
  line-height: var(--line-height);
  padding: 0.4rem;
  text-align: left;
}

/*#endregion*/

/*#region*/ /*curriculum*/
.curriculum {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.curriculum-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

/*#endregion*/

/*#region*/ /*proyectos*/
.proyectos {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.proyecto-pic {
  width: 65%;
  height: 60%;
}

.proyectos-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.proyectos-title {
  text-align: center;
  margin-bottom: 1rem;
}

.proyecto-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.proyecto-container p {
  padding: 0.4rem;
}

.proyecto-title {
  margin-bottom: var(--bottom-margin);
}

.proyecto-details {
  margin-bottom: var(--bottom-margin);
}
.software {
  align-items: center;
  text-align: center;
}
.softcard {
  margin: 10px;
}
/*#endregion*/

/*#region*/ /*contacto*/
.contacto {
  margin-top: 2rem;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.contacto h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contacto-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 0px 10px var(--secondary-shadow);
}

.contacto-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--text-color);
}

.contacto-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contacto-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg-color);
  border: 3px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--text-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--bg-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

/*#endregion*/

/*#region*/ /*redes sociales*/
.socials {
  display: flex;
  float: right;
  flex-direction: column;
  position: sticky;
  right: 5px;
  bottom: 50%;
}

.socicon {
  width: 3rem;
  height: 3rem;
}
/*#endregion*/

/*#region*/ /*boton arriba*/
.scroll-up {
  position: absolute;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}
.up-arrow {
  width: 3rem;
  height: 3rem;
}
/*#endregion*/

/*#region*/ /*footer*/
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/*#endregion*/

/*#region*/  /*General*/
.icon-card {
  background-color: var(--bg-color);
  border-radius: 11px;
  box-shadow: 0 0px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.proyecto-card {
  background-color: var(--bg-color);
  border-radius: 11px;
  box-shadow: 0 0px 10px var(--primary-color);
  padding: 20px;
  margin: 10px;
}

/*#endregion*/

/*#region*/  /*media queries*/
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 37.5rem;
    width: 30rem;
  }

  .me {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .mas-info {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .mas-info h2 {
    text-align: center;
  }

  .mas-info p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .proyectos-container {
    flex-direction: column;
  }

  .proyecto-container {
    width: 20.875rem;
  }

  .contacto-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .me {
    width: 18.3rem;
  }

  .proyecto-container {
    width: 17.875rem;
  }

  .contacto-form-container {
    max-width: 17.75rem;
  }
}

/*#endregion*/ 