<section class="software" id="software">
    <h3 class="skill-header">Software en uso</h3>

    <div class="software">
      <div class="first-set animate__animated animate__pulse">
        <img
          src="https://img.shields.io/badge/Fedora-294172?style=for-the-badge&logo=fedora&logoColor=white"
          alt=""
          loading="lazy"
          class="softcard"
        />
        
        <img
          src="https://commons.wikimedia.org/wiki/File:Visual_Studio_Code_1.35_icon.svg"
          alt=""
          loading="lazy"
          class="softcard"
        />
        <img
          src="https://img.shields.io/badge/Aseprite-FFFFFF?style=for-the-badge&logo=Aseprite&logoColor=#7D929E"
          alt=""
          loading="lazy"
          class="softcard"
        />
        <img
          src="https://img.shields.io/badge/Visual%20Studio%20Code-0078d7.svg?style=for-the-badge&logo=visual-studio-code&logoColor=white"
          alt=""
          loading="lazy"
          class="softcard"
        />
        <img
          src="https://img.shields.io/badge/netlify-%23000000.svg?style=for-the-badge&logo=netlify&logoColor=#00C7B7)"
          alt=""
          loading="lazy"
          class="softcard"
        />
        <img
          src="https://img.shields.io/badge/heroku-%23430098.svg?style=for-the-badge&logo=heroku&logoColor=white"
          alt=""
          loading="lazy"
          class="softcard"
        />
        <img
          src="https://img.shields.io/badge/sublime_text-%23575757.svg?style=for-the-badge&logo=sublime-text&logoColor=important"
          alt=""
          loading="lazy"
          class="softcard"
        />
        <img
          src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white"
          alt=""
          loading="lazy"
          class="softcard"
        />
        <img
          src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white"
          alt=""
          loading="lazy"
          class="softcard"
        />
        <img
          src="https://img.shields.io/badge/-Hackerrank-2EC866?style=for-the-badge&logo=HackerRank&logoColor=white"
          alt=""
          loading="lazy"
          class="softcard"
        />
      </div>

    </div>
  </section>